# URL вашего экземпляра GitLab
GITLAB_URL=https://gitlab.example.com

# Ваш приватный токен для доступа к GitLab API
GITLAB_PRIVATE_TOKEN=your_gitlab_private_token

# Токен вашего Telegram бота
TELEGRAM_BOT_TOKEN=your_telegram_bot_token

# ID чата, куда будут отправляться сообщения
TELEGRAM_CHAT_ID=your_telegram_chat_id